:root {
  --bg: #0e100f;
  --white: rgba(255, 252, 225, .85);
  --gold: #fcbf49;
  --gold-dark: #b8860b;  
  --gold-light: #ffe8b3; 
  --grey: #808080; 

  /* Size scale */
  --size-4: 0.25rem;     /* 4px   */
  --size-8: 0.5rem;      /* 8px   */
  --size-12: 0.75rem;    /* 12px  */
  --size-14: 0.875rem;   /* 14px  */
  --size-16: 1rem;       /* 16px  */
  --size-18: 1.125rem;   /* 18px  */
  --size-20: 1.25rem;    /* 20px  */
  --size-24: 1.5rem;     /* 24px  */
  --size-32: 2rem;       /* 32px  */
  --size-40: 2.5rem;     /* 40px  */
  --size-48: 3rem;       /* 48px  */
  --size-64: 4rem;       /* 64px  */
  --size-128: 8rem;      /* 128px */
}

/* Global */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: "Noto Sans", sans-serif;
}

.content-container {
  max-width: 120rem;
  padding: 0 clamp(var(--size-24), 5vw, var(--size-64));
  margin: 0 auto;
}

li, a {
  list-style: none;
  text-decoration: none;
}

/* Topbar */
.topbar {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: 0 clamp(var(--size-24), 5vw, var(--size-64));

}

.nav {
  padding: var(--size-16) 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  gap: var(--size-64);
  
  h1 {
    cursor: default;
    font-size: 2rem;
    font-weight: 700;
    
    span {
      font-weight: 100;
    }
    
    .web {
      color: var(--gold);
      font-weight: 100;
    }
  }

  a {
    color: var(--grey);
    font-size: var(--size-16);
    transition: color 0.25s ease-in-out;
  }
  
  .nav-links {
    flex: 1;
    display: flex;
    gap: 1.5rem;
    text-align: center;
    text-transform: uppercase;

    a:hover, a:focus {
      color: var(--white);
    }
  }

  .socials {
    display: flex;
    gap: var(--size-16);
 
    a:hover, a:focus {
      color: var(--gold);
    }
  }
}

input, textarea {
  background-color: transparent;
  border: solid 1px var(--grey);
  border-radius: 0.45em;
  padding: 1rem .5rem;
  color: var(--white);
  font-size: 1.25rem;
  :focus, :focus-visible, :focus-within {
    outline: solid 2px var(--gold);
  }
}