:root {
  --bg: #0b0c0c;
  --white: #e9eaec;
  --gold: #ffb606;
  --grey: #696969;

  /* Size scale */
  --size-4: 0.25rem; /* 4px   */
  --size-8: 0.5rem; /* 8px   */
  --size-12: 0.75rem; /* 12px  */
  --size-14: 0.875rem; /* 14px  */
  --size-16: 1rem; /* 16px  */
  --size-18: 1.125rem; /* 18px  */
  --size-20: 1.25rem; /* 20px  */
  --size-24: 1.5rem; /* 24px  */
  --size-32: 2rem; /* 32px  */
  --size-40: 2.5rem; /* 40px  */
  --size-48: 3rem; /* 48px  */
  --size-64: 4rem; /* 64px  */
  --size-128: 8rem; /* 128px */
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "Portico";
  src: url("/fonts/portico-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--bg);
  color: var(--white);
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

main {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.content-container {
  max-width: 120rem;
  padding: 0 clamp(var(--size-24), 5vw, var(--size-64));
  margin: 0 auto;
}

.blog-container {
  max-width: 992px;
  padding: 0 2rem;
  margin: 0 auto;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--gold);
  font-weight: 700;
}

b {
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.25;
}
